@{
    Layout= " ";
}
    <link rel="stylesheet" href="~/css/style.css">

<h1 class="text-danger d-flex justify-content-center align-items-center h-100">Tài khoản của bạn đã bị khóa vì đăng nhập sai quá nhiều</h1>