@{
    ViewData["Title"] = "Thông báo";
    Layout = "_LayoutClient";
}

    <h1 class="d-flex justify-content-center py-4">@ViewData["Title"]</h1>
<div class = "d-flex justify-content-center ">
    <p>
        Hãy kiểm tra <a target="_blank" href="https://mail.google.com/" class="text-danger">Email</a> để biết cách xác thực tài khoản và <a class="text-danger" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
    </p>
</div>