.containerMenu {
    background-color: #fff;
    border-radius: 5px;
    left: 0;
    min-height: 100%;
    // overflow: hidden;
    padding: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    font-size: 14px;
}

.containerMenu-child {
    display: none;
    position: absolute;
    // top: 30px;
    border-radius: 4px;
    height: 100%;
    left: 24%;
    background-color: #ffffffd8;
    z-index: 20;
    // border: 1px solid #ccc;
    .menu-close {
        position: absolute;
        bottom: 15px;
        right: 15px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: #D55A2A;
        padding: 8px 8px;
        cursor: pointer;
    }
}

.item-category.actives {
    cursor: pointer;
    transition: all 0.5s;
    transform: translateX(35px);
    color: #D55A2A;
}

.pr-item{
    line-height: 15px;
    height: 40px;
    overflow: hidden;
}

.animate-menu{
    transform: translateX(-30px);
    animation: scroll 0.3s ease-out forwards;
}
.r-animate-menu{
    transition: all 0.5s;
    animation: scroll 0.5s ease reverse;
}
@keyframes scroll {
    0%{
        opacity: 0;
    transform: translateX(-30px);

    }100%{
        opacity: 1;

    transform: translateX(0);

    }
}

