<div class="grid wide py-2">
    <div class="my-4">
        <h1 class="text-center ">Cảm ơn bạn đã mua hàng tại A&Q</h1>
    <div>
        <p class="text-center "><a class="text-danger" href="/">Tiếp tục mua sắp</a></p>
    </div>
    </div>
    <hr>
    <div>
        <h3>Các sản phẩm liên quan</h3>
        @await Component.InvokeAsync("SwiperProducts")
    </div>
</div>