@model ChangePasswordModel
@{
    Layout = "_LayoutClient";
}
<div class="grid wide">
    <div class="row">
        <div class="col col-3 ">
            <div class="h-100 bg-light">
                <ul class="py-5 px-2">
                    <li class="border p-2 rounded my-1">
                        <a asp-area="Identity" asp-controller="Manage" asp-action="ProfileUser">
                            <div class=""><i class="fa-regular fa-address-card px-2"></i> Thông tin cá
                                nhân</div>
                        </a>
                    </li>

                    <li class="border p-2 rounded my-1">
                        <a asp-area="Identity" asp-controller="Manage" asp-action="OrdersUser">
                            <div class=""><i class="fa-solid fa-truck-moving px-2"></i> Trạng
                                thái đơn hàng</div>
                        </a>
                    </li>

                       <li class="border p-2 rounded my-1">
                        <a asp-area="Identity" asp-controller="Manage" asp-action="HistoryOrder">
                            <div class="item-category"><i class="fa-solid fa-clock-rotate-left px-2"></i> Lịch sử mua
                        hàng</div>
                        </a>
                    </li>
                    <li class="border p-2 rounded my-1">
                        <a asp-area="Identity" asp-controller="Manage" asp-action="ChangePassword">
                            <div class="item-category actives"><i class="fa-solid fa-key px-2"></i>Thay đổi mật khẩu</div>
                        </a>
                    </li>
                    
                    <li class="border p-2 rounded my-1"><i class="fa-solid fa-right-from-bracket px-2"></i> Thoát tài
                        khoản</li>
                </ul>
            </div>
        </div>

        <div class="col col-9">
            <div>
                <form class="form-account w-100 h-50" asp-area="Identity" asp-controller="manage" asp-action="ChangePassword">
    <div class="p-1 d-flex justify-content-center">
        <svg width="80px" height="80px" viewBox="-1.8 -1.8 18.60 18.60" fill="none" xmlns="http://www.w3.org/2000/svg"
            stroke="#1AC7B6" stroke-width="1.5">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M11 11H10V10H11V11Z" fill="#000000"></path>
                <path d="M8 11H9V10H8V11Z" fill="#000000"></path>
                <path d="M13 11H12V10H13V11Z" fill="#000000"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3 6V3.5C3 1.567 4.567 0 6.5 0C8.433 0 10 1.567 10 3.5V6H11.5C12.3284 6 13 6.67157 13 7.5V8.05001C14.1411 8.28164 15 9.29052 15 10.5C15 11.7095 14.1411 12.7184 13 12.95V13.5C13 14.3284 12.3284 15 11.5 15H1.5C0.671573 15 0 14.3284 0 13.5V7.5C0 6.67157 0.671573 6 1.5 6H3ZM4 3.5C4 2.11929 5.11929 1 6.5 1C7.88071 1 9 2.11929 9 3.5V6H4V3.5ZM8.5 9C7.67157 9 7 9.67157 7 10.5C7 11.3284 7.67157 12 8.5 12H12.5C13.3284 12 14 11.3284 14 10.5C14 9.67157 13.3284 9 12.5 9H8.5Z"
                    fill="#000000"></path>
            </g>
        </svg>
    </div>
    
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-field w-50">
        <input name="OldPassword" asp-for="OldPassword" class="form-control form-input border-button-input"
            placeholder=" " />
        <span class="form-label">@Html.DisplayNameFor(model => model.OldPassword)</span>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-field w-50">
        <input name="NewPassword" asp-for="NewPassword" class="form-control form-input border-button-input"
            placeholder=" " />
        <span class="form-label">@Html.DisplayNameFor(model => model.NewPassword)</span>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-field w-50">
        <input name="ConfirmPassword" asp-for="ConfirmPassword"
            class="form-control form-input border-button-input" placeholder=" " />
        <span class="form-label">@Html.DisplayNameFor(model => model.ConfirmPassword)</span>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <button name="buttonSubmit" type="submit" class="btn-submit p-2 my-3">Thay đổi mật khẩu</button>
    </div>
</form>
            </div>
        </div>
    </div>
</div>

