
<header>
    <style>
        .pr-scroll {
            display: flex;
            justify-content: center;
            overflow-x: hidden;
            margin-bottom: 20px;
            margin-top: 80px;
        }
        .img-item {
            border-radius: 10px;
            margin-right: 30px;
            box-shadow: 0 0 10px rgb(51, 51, 51)(100, 98, 98);
            transition: 2s;
        }
    </style>
</header>
<div class="list-product-samsung grid wide">
    <div class="pr-scroll">
        <img src="~/images/Banner/ss-1-list.webp" alt="" class="img-item">
        <img src="~/images/Banner/ss-2-list.webp" alt="" class="img-item">
        <img src="~/images/Banner/ss-3-list.webp" alt="" class="img-item">
        <img src="~/images/Banner/ss-4-list.webp" alt="" class="img-item">
        <img src="~/images/Banner/ss-2-list.webp" alt="" class="img-item">
    </div>

    <div class="row list">
    </div>
    <div id="toast"></div>

</div>
<script type="module" src="~/js/Products/ListProductCategories.js"></script>
<script type="module" src="~/js/Products/AddCart.js"></script>
