<div class="c-transparent-bg preve-close w-100">
    <div class="c-form close-model d-flex justify-content-center align-items-center w-100">
        <div class="animate c-m-e-20 bg-white c-boxshow  rounded p-2 c-w-60 text-dark w-75">
            <form id="Create" class="">
                <button type="button" class="p-1 btn-close border-0 bg-white float-right"><i
                        class="ti-close"></i></button>
                <h4 class="text-center text-shadown my-3 ">Bài viết mới</h4>
                <div>
                    <div class="form-group form-field d-flex">
                        <select id="multiple" class="select w-100" multiple="multiple">
                        </select>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="form-group form-field w-100">
                            <input value="${params != null ? params.title : ''}" id="name" name="Title" rule="required"
                                type="text" placeholder=" " class=" form-input form-error form-control ">
                            <label for="name" class="form-label">Tên danh mục</label>
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group form-field w-100">
                            <input value="${params != null ? params.abstractTitle : ''}" id="name" name="AbstractTitle"
                                rule="required" type="text" placeholder=" " class="form-input form-error form-control ">
                            <label for="name" class="form-label">Mô tả bài viết</label>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-between">
                        <div class="form-group form-field w-100 d-flex">
                            <div class="">
                                <img id="previewImage" height=50 width=70
                                    src="${params != null ? params.image : '/images/loader.gif'}" class=" px-2"></img>
                                <input id="fileInput" name="file" type="file" class="d-none" />
                                <label for="fileInput" class="box-shadow label-s d-inline px-2">Chọn Tệp</label>
                            </div>
                        </div>
                        <div class="form-group form-field w-100  d-flex">
                            <div class="custom-checkbox ">
                                <input id="check" name="check" type="checkbox" ${params !==null ? `${params.status !==0
                                    ? 'checked' : "" }` : '' }>
                                <label for="check" class="form-label" style="transform: translate(10px, -20px);">Duyệt
                                    đăng</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-field">
                    <textarea id="Editor"></textarea>
                </div>

                <div class="d-flex justify-content-around">
                    <div class="d-flex form-field justify-content-center">
                        <button type="button" class="btn-close px-3 box-shadow">Hủy</button>
                    </div>
                    <div class="d-flex form-field justify-content-center">
                        <button type="submit" class="button-ainmate form-submit button box-shadow px-5">Đăng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>