@model ContactModel
@{
    Layout = "_LayoutClient";
    ViewData["Title"] = "Gửi liên hệ tới";
}

<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <form asp-action="SendContact" method="post" class="form-account w-100">
        <img class="p-4" src="~/images/logo-contact.png" alt="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-field w-50">
            <input asp-for="FullName" class="form-control form-input border-button-input" placeholder=" " />
            <span class="form-label">@Html.DisplayNameFor(model => model.FullName)</span>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-field w-50">
            <input asp-for="Email" class="form-control form-input border-button-input" placeholder=" " />
            <span class="form-label">@Html.DisplayNameFor(model => model.Email)</span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-field w-50">
            <input asp-for="Phone" class="form-control form-input border-button-input" placeholder=" " />
            <span class="form-label">@Html.DisplayNameFor(model => model.Phone)</span>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-field w-50">
            <input asp-for="Message" class="form-control form-input border-button-input" placeholder=" " />
            <span class="form-label">@Html.DisplayNameFor(model => model.Message)</span>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
            <input type="submit" value="Gửi liên hệ" class="btn-submit p-2 m-2" />
    </form>
</div>
<script>
    
</script>